/* Text Color */
.text-primary {
  color: #28a745
}

.text-secondary {
  color: #0284d0;
}

.py-1 { padding: 15px 10px; }
.py-2 { padding: 30px 0; }
.py-3 { padding: 30px 90px; }


/* Button */
.btn {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  padding: 22px 50px;
  margin-top: 15px;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 10px;
}

.btn:hover {
  opacity: 0.7;
}

.btn-primary, .bg-primary {
  background: #28a745;
  color: #fff;
}

.btn-secondary, .bg-secondary {
  background: #0284d0;
  color: #fff;
}

.btn-dark, .bg-dark {
  background: #8fd49f;
  color: #fff;
}

.btn-light, .btn-light {
  background: #f4f4f4;
  color: #333;
}

/* Flex Grid */
.flex-grid .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.flex-grid .column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

